.aboutus {
    margin: 6rem;
}
.aboutHeading {
    color: red;
}
.ourStory {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
}
@media (max-width: 1100px) {
    .aboutus {
        margin: 4rem;
    }
    .abotusImage {
        width: 90%;
    }
}
@media (max-width: 650px) {
    .aboutus {
        margin: 1rem;
    }
}
